<section class="container py-32 mx-auto">
  <div class="grid grid-cols-2 gap-2 p-8 rounded-lg bg-epc-w0 min-h-[30rem]">
    @if (faqs.length > 0) {
      <div class="flex flex-col justify-center">
        <div class="flex flex-col pl-4 border-l-8 rounded-b-lg rounded-tl-lg border-epc-r1">
          <h6 class="text-epc-r1">Parent Service {{currentFaq()}}</h6>
          <h2>{{faqs[currentFaq()].question}}</h2>
        </div>
        <h6 class="pt-4">{{faqs[currentFaq()].answer}}</h6>
        <span>
          <button (click)="nextFaq()">Next</button>
          <button (click)="prevFaq()">Prev</button>
        </span>
      </div>
    }
    <div class="relative flex flex-col items-center justify-center">
      <h3 class="absolute top-0 px-8 py-2 rounded-md bg-epc-r1 -right-12 text-epc-w0">Preguntas Frecuentes</h3>
      <img src="/assets/images/epc-logo-off.svg" alt="">
    </div>
  </div>
</section>
