<section class="flex flex-col justify-between pt-2 mb-24 h-svh">

  <div class="container flex items-center justify-center flex-1 h-full mx-auto my-auto">
    <app-slider [sliderData]="sliderData" />
  </div>

  <div class="z-0 lg:z-20 spikes"></div>

  <div #scrollingSection class="z-10 flex items-center w-full gap-8 overflow-hidden bg-epc-r1 min-h-32 text-nowrap text-epc-r2">
    @for (service of services; track $index){
      <button class="relative group" (click)="onColumnClick($index)">
        <div class="absolute z-40 items-center justify-end hidden w-auto p-1 text-lg rounded-md group-hover:flex -right-10 bg-epc-o1 text-epc-r1">
          <i class="iconoir-{{service.icon}}"></i>
        </div>
        <a class="cursor-pointer group-hover:text-epc-w0">{{service.parentService}}</a>
      </button>
    <span>/</span>
    }
  </div>


</section>


<app-servicios-grid [services]="services" />
<app-faq [faqs]="faqs" [services]="services"/>
<app-marcas [brands]="brands" />
<app-contact-modal />
