<section class="flex flex-col justify-between pt-2 mb-24 h-svh">

  <div class="container items-center justify-center flex-1 mx-auto">
    <app-slider [sliderData]="sliderData" />
  </div>

  <div #scrollingSection class="flex items-center w-full gap-8 overflow-hidden bg-epc-r1 min-h-32 text-nowrap text-epc-r2">
    @for (service of services; track service._id){
    <a class="cursor-pointer hover:text-epc-w0">{{service.parentService}}</a>
    <span>/</span>
    }
  </div>

</section>


<app-servicios-grid [services]="services" />
<app-faq [faqs]="faqs" [services]="services"/>
<app-marcas [brands]="brands" />
<app-contact-modal />
