<section class="pt-2 mb-24 min-h-96">
  <div class="container mx-auto">
    <app-slider [sliderData]="sliderData" />
  </div>
</section>

<section #scrollingSection class="flex items-center w-full gap-8 overflow-hidden bg-epc-r0 min-h-32 text-nowrap">
  @for (service of services; track service._id){
  <p class="text-epc-r2">{{service.parentService}}</p>
  <span class="text-epc-r2">/</span>
  }
</section>

<app-servicios-grid [services]="services" />
<app-faq [faqs]="faqs" [services]="services"/>
<app-marcas [brands]="brands" />
