<div class="mt-24 spikes"></div>

<footer class="relative pt-32 bg-epc-d0 text-epc-w0">
  @if (info.length > 0) {
  <section class="container grid items-start grid-cols-6 mx-auto min-h-52 justify-items-center">
    <!-- COL 1 -->
    <div class="relative col-span-2">
      <div class="absolute left-0 flex items-center gap-2 -top-14">
        <h3 class="font-bold uppercase"><span class="text-epc-r1">El Paisa</span> Cargo</h3>
        <img src="/assets/images/favicon.svg" alt="El Paisa Logo" class="scale-x-[-1] w-12 pb-4">
      </div>
      <h6 class="w-2/3 text-xs font-light leading-6">Taxes, ITIN, Placas, Aseguranzas, Money Orders, Envío de Carros y Cajas, Envío de dinero, Pasajes</h6>
    </div>

    <!-- COL 2 -->
    <ul class="relative flex flex-col gap-2 *:transition-all *:duration-200">
      @for (page of pages; track page._id; let index = $index){
        <li class="hover:text-epc-r1 hover:-translate-x-2 *:flex *:gap-2 group">
          <button (click)="navigateTo(page.slug.current)" class="text-xs"><i class="iconoir-nav-arrow-right text-epc-w1 group-hover:text-epc-r1"></i>{{page.title}}</button>
        </li>
      }
    </ul>

    <!-- COL 3 -->
    <div class="col-span-3 list-none *:flex *:gap-2 *:text-xs flex flex-col gap-4">
      <li><i class="iconoir-phone text-epc-r1"></i>{{info[0].phone}}</li>
      <li><i class="iconoir-map-pin text-epc-r1"></i>{{info[0].address}}</li>
    </div>

    <!-- GO TO TOP -->
    <button class="text-xs absolute right-4 top-[50%] p-2 hover:bg-epc-r1 hover:opacity-100 bg-white opacity-20 rounded-sm text-black" (click)="goTop()">TOP</button>

  </section>
  }

  <div class="flex items-center justify-center w-full container *:text-xs py-4 *:text-epc-w2">
    <p>All rights reserved  |  El Paisa Cargo 2024</p>
  </div>
</footer>
